# Global owners
*   @foo4u @bloy-smartling @vlinetskiysml @AlexArcher

smartling-authorization-api/    @foo4u
smartling-jobs-api/             @foo4u @vlinetskiysml @andreyfurdylo @PavloMyrotiuk @ishulyak-smartling
smartling-job-batches-api/      @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-files-api/            @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-projects-api/         @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-locales-api/
smartling-issues-api/           @pshander
smartling-api-test-utils/       @dkBrazz
smartling-strings-api/          @klegins-smartling @AlexanderNovak
smartling-attachments-api/      @klegins-smartling @AlexanderNovak
smartling-contexts-api/         @vbarhatov @MihailTymoshenko @dsavchenko-sm

