version: 2
jobs:
    test:
        docker:
            - image: amazoncorretto:11
        steps:
            - checkout
            - run:
                  name: Build & Test
                  command: './mvnw clean test javadoc:javadoc'
            - run:
                  name: Collect Test Results
                  command: |
                      mkdir test-results
                      find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} test-results/ \;
            - store_test_results:
                  path: test-results
    deploy:
        docker:
            - image: amazoncorretto:11
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - "52:1a:a4:d8:67:65:05:a3:0c:a0:7a:41:3f:90:af:ba"
            - checkout
            - run:
                  name: Configure Git
                  command: |
                      git config --global user.email "artifacts@smartling.com"
                      git config --global user.name "Smartling, Inc."
            - run:
                  name: Import GPG Key
                  command: |
                      echo -e $GPG_KEY > .circleci/gpg.key.txt
                      gpg --batch --passphrase ${GPG_SIGNING_PASSWORD} --import .circleci/gpg.key.txt
            - run:
                  name: Release
                  command: |
                      gpg --no-tty --batch --pinentry-mode loopback --passphrase ${GPG_SIGNING_PASSWORD} --clear-sign pom.xml
                      ./.circleci/release.sh

workflows:
    version: 2
    build_and_release:
        jobs:
            - test
            - deploy:
                  requires:
                      - test
                  filters:
                      branches:
                          only: master
